@{
    Layout = "_Layout";  // Uses the shared layout page
}
@{
    ViewData["Title"] = "GetToKnowJoel";  // Sets the page title
}

<div class="text-center">
    <h1>Get to Know Joel!</h1>
    <p>Here are some websites that explain more about who Joel is!</p>
    <a href="https://www.qwcomedy.com/" target="_blank" rel="noopener noreferrer">Quick Wits Comedy</a>
    <br/><br/>
    <a href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">Baconsale (Joel's Podcast)</a>
    <br/><br/>
    <a href="https://baconsale.com/">
        <img src="~/img/baconsale.jpg"/></a>
</div>
