@{
    Layout = "_Layout";
}
<table>
    <thead>
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Copied To Plex</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
